<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7 col-md-7 col-lg-7">
            <!-- Top Header-->
            <h4 class="d-flex mt-2 justify-content-between align-items-center mb-3">
                <span class="text-muted">Your Heros</span>
            </h4>

            <!-- List View -->
            <app-list-view [source]="source"></app-list-view>
        </div>
        <div class="col-sm-5 col-md-5 mt-4 col-lg-5">
            <app-view-hero></app-view-hero>
        </div>
    </div>
</div>